# ===== Java =====
*.class
*.jar
*.war
*.ear
*.log

# ===== Build Directories =====
/out/
/build/
target/

# ===== IntelliJ IDEA =====
.idea/
*.iml
*.iws

# ===== VS Code =====
.vscode/

# ===== OS =====
.DS_Store

# ===== Gradle =====
.gradle/
!gradle/wrapper/gradle-wrapper.jar
